@use "../abstracts/colors";

// Code voor de hele site (body) \\

body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    &__container {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
}

.main__container {
    display: flex;
    flex-direction: column;
}

.tabellen_wolken {
    display: flex;
}

h1 {
    color: colors.$aqua;
}

.class_p{
    color: colors.$aqua;
}