@use "../abstracts/colors";
@use "../abstracts/mixins";

// Code van de tabellen die horen bij de gedrag gedeelte \\

@mixin gedrag-vak() {
    display: inline-block;
    background-color: colors.$wit;
    border-radius: 0.625rem;
    box-shadow: 0.625rem 0.625rem 0.313rem rgba(0, 0, 0, 0.2);
    margin: 0;
    padding: 1.25rem;
    width: 25rem;

    border: 0.313rem solid colors.$aqua;

    h2 {
        font-size: 1.25rem;
        margin-bottom: 0.625rem;
    }

    textarea {
        border: none;
        width: 100%;
    }
}

.gedrag_vak {
    @include gedrag-vak();
}

.h2_gedrag {
    color: colors.$aqua;
}

.gedrag_links_typevak,
.gedrag_rechts_typevak {
    height: 6.25rem;
    resize: none;
}