@use "../abstracts/colors";
@use "../abstracts/mixins";

// Code van de tabellen die horen bij de gedrag gedeelte \\

@mixin gedrag-vak() {
    display: inline-block;
    background-color: colors.$wit;
    border-radius: 10px;
    box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.2);
    margin: 0;
    padding: 20px;
    width: 25rem;

    border: 5px solid colors.$aqua;

    h2 {
        font-size: 20px;
        margin-bottom: 10px;
    }

    textarea {
        border: none;
        width: 100%;
    }
}

.gedrag_vak {
    @include gedrag-vak();
}

.h2_gedrag {
    color: colors.$aqua;
}

.gedrag_links_typevak,
.gedrag_rechts_typevak {
    height: 100px;
    resize: none;
}