@use "../abstracts/colors";
@use "../abstracts/mixins";

.nameField__wrapper {
    display: flex;
    width: 104rem;
    justify-content: flex-start;
  }
 
.nameField{
  background-color: map-get(colors.$baseColors, "primary-color");
  border: solid 0.1rem rgb(19, 133, 129);
  @include mixins.namesize;
  padding: 0.4rem;
  outline: none;
}

.title__wrapper{
  @include mixins.center;
  width: 71.5%;
}
  