@use "../abstracts/colors";
@use "../abstracts/mixins";

.printButton{
    @include mixins.buttonwidth;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    background: map-get(colors.$baseColors, "primary-color");
    border: none;
    font-family: 'Ubuntu', sans-serif; 
    color: map-get(colors.$baseColors, "text-color");

    &:hover{
        cursor: pointer;
        background: rgba(171, 238, 236, 0.7);
        border: solid 0.2rem rgba(25, 179, 173, 70%);
    }
}

.buttonWrapper{
    @include mixins.center;
    gap: 4rem;
}