@use "../abstracts/colors";
@use "../abstracts/mixins";

// Mediaquerys voor het responsive gedeelte van de website \\
@media only screen and (max-width: 400px) {
    .main__container {
        flex-direction: column;
    }

    .gebeurtenis__tabel,
    .gedrag_vak,
    .gevoel_vak {
        width: 100%;
        margin: 0;
    }

    .wolkjes-container {
        flex-wrap: wrap;
    }

    .wolk_links,
    .wolk_rechts {
        width: 100%;
        margin-bottom: 20px;
    }

    .header {
        margin-bottom: 50px;
    }
}